{{ if and (eq .chezmoi.os "darwin" "linux") -}}

{{ $extensions := list
     "mhutchie.git-graph"
     "ms-toolsai.jupyter"
     "eamodio.gitlens"
     "ms-python.vscode-pylance"
     "yzhang.markdown-all-in-one"
     "charliermarsh.ruff"
-}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
