{{ $taps := list
    "homebrew/cask"
    "homebrew/cask-fonts"
-}}

{{ $brews := list
    "awscli"
    "bat"
    "eza"
    "fzf"
    "gcc"
    "git"
    "gnupg"
    "helm"
    "jupyterlab"
    "kubectl"
    "poetry"
    "postgresql"
    "pyenv"
    "pyenv-virtualenv"
    "python@3.11"
    "python@3.12"
    "terraform"
    "tree"
    "ykman"
-}}

{{ $casks := list
    "1password"
    "bitwarden"
    "docker"
    "font-caskaydia-cove-nerd-font"
    "font-fira-code-nerd-font"
    "google-chrome"
    "notion"
    "rectangle"
    "scroll-reverser"
    "slack"
    "spotify"
    "telegram"
    "visual-studio-code"
-}}

{{ if (eq .chezmoi.os "darwin") -}}
{{ $brews = concat $brews (list
    "dockutil") -}}
{{ end -}}

#!/bin/bash
set -eufo pipefail

{{ range $taps }}
brew tap {{ . }}
{{ end  }}

brew install {{ $brews | join " " }}

{{ if (eq .chezmoi.os "darwin") -}}
brew install --cask {{ $casks | join " " }}
{{ end -}}
