tap "homebrew/bundle"
tap "homebrew/cask"

# Interpreted, interactive, object-oriented programming language
brew "python@3.8"
# Python version management
brew "pyenv"
# Distributed revision control system
brew "git"
# Clone of cat(1) with syntax highlighting and Git integration
brew "bat"
# Object-relational database system
brew "postgresql"
# Official Amazon AWS command-line interface
brew "awscli"
# Command-line fuzzy finder written in Go
brew "fzf"
# Modern replacement for 'ls'
brew "exa"
{{- if (eq .chezmoi.os "darwin") }}
# Tool for managing dock items
brew "dockutil"
{{- end }}

# Web browser
cask "google-chrome"
# Open-source code editor
cask "visual-studio-code"
# Desktop password and login vault 
cask "bitwarden"
# Music streaming service
cask "spotify"
# Personal communication and collaboration software
cask "telegram"
# Team communication and collaboration software
cask "slack"
# Move and resize windows using keyboard shortcuts or snap areas
cask "rectangle"