.tab-text.tab-label{
    font-size: 12px;
}

.bookmark-item label {	
    font-size: 12px !important;
}

.bookmark-item label {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}


.browserContainer > findbar {
    -moz-box-ordinal-group: 0;
    font-size: 12px !important;
}

#urlbar .search-one-offs {
    display: none !important;
  }
